@import url("card.css");
@import url("typography.css");
@import url("images.css");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.header {
  grid-area: hd;
  background-color: #dda15e;
}

.footer {
  grid-area: ft;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #323542;
}

.sidebar {
  grid-area: sd;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f8f9fa;
  padding: 10px 10px;
}

.content {
  grid-area: main;
}

#nestedGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 20%;
}


@media (min-width: 735px) and (max-width: 1000px) {
  .container {
    grid-template-columns: 200px 300px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
  }

  #nestedGrid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 15px;
  }
}

@media (min-width: 1001px) {
  .container {
    grid-template-columns: 200px 300px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
  }

  #nestedGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50% 50%;
    grid-gap: 15px;
  }

}